Source: dangen
Section: games
Priority: optional
Maintainer: Oohara Yuuma <oohara@debian.org>
Build-Depends: debhelper (>= 8), libsdl1.2-dev, libsdl-image1.2-dev, dh-autoreconf, dpkg-dev (>= 1.16.1)
Build-Conflicts: autoconf2.13, automake1.4
Standards-Version: 3.9.2
Homepage: http://www.interq.or.jp/libra/oohara/dangen/index.html

Package: dangen
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: shoot 'em up game where accurate shooting matters
 dangen is a shoot 'em up game that attach importance to accuracy of shooting.
 With the combination of the cursor key and the shot button, you can shoot
 at your side or even at your back.  Get the bonus point by hitting the
 enemy without a miss.  You can choose stages of different difficulty.
